body{
    background-color: #120248;
    color: #657beb;
}
.img{
    max-width: 800px;
    min-width: 300px;
}
.Topic{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
    max-width: 800px;
    min-width: 300px;
    width: 100%;
}